@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("font-awesome.min.css");

  body { background: url(../BG1.jpg) no-repeat center center fixed;
  background-size: cover;
  }

h1 {
  color: #FFF;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Times, serif;
  font-size: 4em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  color: #FFF;
  text-align: center;
}

#links {
  color: #FFF;
  text-align: center;
  font-size: 175%;
}
